{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    {{ encore_entry_script_tags('new-meme') }}
{% endblock %}

{% block content %}
    {% set media = sulu_resolve_media(app.request.query.get('mediaId'), localizations['en']['locale']) %}
    {% set image %}
        {{ get_image(media|default, 'sulu-200x200') }}
    {% endset %}

    <h1 class="title">{{ content.title }}</h1>
    <div class="description">{{ content.description|raw }}</div>

    <div class="new-meme-button-container">
        <input id="background-image-selector" type="file" accept="image/*" hidden>
        <label for="background-image-selector" class="new-meme-button new-meme-settings-button">
            {{ 'Select Background Image'|trans }}
        </label>
        <label class="new-meme-button-disabled"
               id="new-meme-select-text-button">{{ 'meme_generator.new_meme.select-text.button'|trans }}</label>
        <label class="new-meme-button-disabled"
               id="new-meme-download-button">{{ 'meme_generator.new_meme.download'|trans }}</label>
    </div>

    <div class="new-meme-canvas-input-text-container">
        <div class="new-meme-input-container">
            <input type="text" class="new-meme-text-input hidden" placeholder="{{ 'meme_generator.new_meme.select-text.input.placeholder'|trans }}">
            <input type="number" value="50" min="1" class="new-meme-input-text-size-number hidden">
            <input type="color" value="#ffffff"  class="new-meme-input-color-picker hidden"/>
        </div>
        <div class="new-meme-canvas-container">
            <div class="new-meme-image-container">
                {{ image }}
            </div>
            <div id="meme-preview-container"></div>
        </div>
    </div>
{% endblock %}
