{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
{% endblock %}

{% block content %}
    {% set media = sulu_resolve_media(app.request.query.get('mediaId'), localizations['en']['locale']) %}
    {% set image %}
        {{ get_image(media|default, 'sulu-200x200') }}
    {% endset %}

    <h1 class="title">{{ 'meme_generator.new_meme.title'|trans }}</h1>
    <h1 class="description">{{ 'meme_generator.new_meme.description'|trans }}</h1>

    <div class="new-meme-button-container">
        <input id="background-image-selector" type="file" accept="image/*" hidden>
        <label for="background-image-selector" class="new-meme-button">
            {{ 'Select Background Image'|trans }}
        </label>
        <label class="new-meme-button" id="new-meme-download-button">{{ 'meme_generator.new_meme.download'|trans }}</label>
    </div>

    <div class="new-meme-canvas-container">
        <div class="new-meme-image-container">
            {{ image }}
        </div>
        <div id="meme-preview-container"></div>
    </div>
{% endblock %}
