{% set image %}
    {{ get_image(content.xing_information_image_neutral|default, 'sulu-400x400') }}
{% endset %}

<div class="xing_information-main-container">
    <div class="xing_information-inner-container container-left-hidden">
        <div>
            <h3 class="xing_information-left-container-market-cap-info-text">{{ 'xing_information.market_cap.title'|trans }}</h3>
            <p class="xing_information-left-container-market-cap-text">{{ 'xing_information.market_cap'|trans }} <span>$ 0</span></p>
            <p class="xing_information-left-container-market-cap-text">{{ 'xing_information.market_cap.left_to_billion'|trans }} <span>$ 0</span></p>
        </div>
        {{ image }}
    </div>

    <div class="xing_information-inner-container container-bottom-hidden">
        <h3 class="xing_information-left-container-market-cap-info-text">{{ 'xing_information.price_change.title'|trans }}</h3>
        <p class="xing_information-right-container-price-change-positive-text">{{ 'xing_information.price_change'|trans }}
            <span>0 % 🐵</span></p>
        <div class="xing_information-right-container-cookie-container">
            <a>Please enable cookies to view the chart.</a>
        </div>
    </div>
</div>
