<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav class="navigation-main">
            <div class="navigation-container">
                <a class="navigation-text navigation-home-link-text" href="{{ sulu_content_root_path() }}">{{ 'navigation.title'|trans }}</a>
                <div>
                    {% for item in sulu_navigation_root_tree() %}
                        <a class="navigation-text navigation-sublinks-text" href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

{% block javascripts %}

{% endblock %}
            {{ encore_entry_script_tags('app') }}
</body>
</html>
