<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
        <meta name="theme-color" content="#d0b886">
        <meta name="msapplication-navbutton-color" content="#d0b886">
        <meta name="apple-mobile-web-app-status-bar-style" content="#d0b886">
        <meta http-equiv="Content-Security-Policy" content="
        default-src 'none';
        script-src 'self' https://cdnjs.cloudflare.com;
        connect-src 'self' https://www.dextools.io;
        style-src 'self' https://cdnjs.cloudflare.com;
        style-src-attr 'unsafe-hashes' 'sha256-Wi3+8jbn12vus9Oq4FOqEUCOpuRG3clBaVvLZZ2b9Fs=';
        img-src 'self' data:;
        media-src 'self';
        font-src 'self';
        frame-src 'self' https://www.dextools.io;">

    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <div class="navigation-container">
                <video class="background-video" playsinline autoplay muted loop>
                    <source src="{{ content.header.xing_video.url }}" type="video/webm">
                    <source src="{{ content.header.xing_video.url }}" type="video/mp4">
                </video>
                <div class="background-video-overlay"></div>
                <div class="navigation-links-container">
                    <a class="navigation-text navigation-home-link-text"
                       href="{{ sulu_content_root_path() }}">{{ 'navigation.title'|trans }}</a>
                    <div class="navigation-sublinks-text-container">
                        {% for item in sulu_navigation_root_tree() %}
                            <a class="navigation-text navigation-sublinks-text"
                               href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        {% endfor %}
                    </div>
                    <audio id="navigation-audio-player">
                        <source src="{{ content.header.xing_music.url }}" type="audio/mpeg">
                    </audio>
                    <button class="navigation-audio-player-button">
                        <svg id="playIcon" width="24" height="24" viewBox="0 0 24 24" fill="black"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 5v14l11-7z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    {% block footer %}
        <div class="footer-container">
            <h3 class="footer-title">{{ 'footer.title'|trans }}</h3>
            <div class="footer-links-container">
                <div class="footer-links">
                    <a href="{{ content.footer_social_media.footer_twitter_link }}" target="_blank">
                        {{ get_image(content.footer_social_media.footer_twitter_logo|default, 'sulu-40x40') }}
                    </a>
                </div>
                <div class="footer-links">
                    <a href="{{ content.footer_social_media.footer_dexscreener_link }}" target="_blank">

                        {{ get_image(content.footer_social_media.footer_dexscreener_logo|default, 'sulu-40x40') }}
                    </a>
                </div>
                <div class="footer-links">
                    <a href="{{ content.footer_social_media.footer_telegram_link }}" target="_blank">
                        {{ get_image(content.footer_social_media.footer_telegram_logo|default, 'sulu-40x40') }}
                    </a>
                </div>
                <div class="footer-links">
                    <a href="{{ content.footer_social_media.footer_tiktok_link }}" target="_blank">
                        {{ get_image(content.footer_social_media.footer_tiktok_logo|default, 'sulu-40x40') }}
                    </a>
                </div>
            </div>

            <div class="footer-buy-xing-button-container">
                <a class="footer-buy-xing-button" href="https://jup.ag/swap/SOL-xing"
                   target="_blank">{{ 'footer.buy-xing.button'|trans }}</a>
            </div>
        </div>
    {% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('navigation-audio-player') }}
{% endblock %}
</body>
</html>
