<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
        <nav>
            <div class="navigation-container">
                <a class="navigation-text navigation-home-link-text" href="{{ sulu_content_root_path() }}">{{ 'navigation.title'|trans }}</a>
                <div>
                    {% for item in sulu_navigation_root_tree() %}
                        <a class="navigation-text navigation-sublinks-text" href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    {% endblock %}
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    {% block footer %}
        <div class="footer-container">
            <p class="footer-title">{{ 'footer.title'|trans }}</p>
            <div>
                <a class="footer-links" href="https://linktr.ee/xingxing.cto" target="_blank">Website</a>
                <a class="footer-links" href="https://x.com/XingXingonX" target="_blank">Twitter</a>
                <a class="footer-links" href="https://t.me/xing_xing_cto" target="_blank">Telegram</a>
            </div>

            <div class="footer-buy-xing-button-container">
                <a class="footer-buy-xing-button" href="https://dexscreener.com/solana/2puvkhdeq5uprxrowunggfnvpfun7pdommgqwxyq37hv" target="_blank">{{ 'footer.buy-xing.button'|trans }}</a>
            </div>
        </div>
    {% endblock %}
</footer>

{% block javascripts %}

{% endblock %}
            {{ encore_entry_script_tags('app') }}
</body>
</html>
